extends layout
block content
        h1 こんにちは
        p.hoge#fuga !{message} へようこそ
        form(action="/hello", method="post")
           input(type="text", name="greeting")
           input(type="submit", value="送信") 
        a(href="/") トップページへ